.billede1 img {
  aspect-ratio: 1 / 1;
}

.section div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.solnedgang_rømø,
.roadtrip,
.gåtur,
.marsktårn {
  aspect-ratio: 1 / 1;
}

@media (width>800px) {
  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  .hero1 {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero1 img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .caption1 {
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .hero2 .caption1 {
    grid-area: 1 / 1;
    align-self: end;
    justify-self: stretch;
    text-align: center;
    color: white;
    background: none;
    font-size: 4em;
  }

  .billede1 img,
  .grid_1-1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3em;
  }

  .billede1 img {
    grid-column: 1/2;
  }

  .caption {
    grid-column: 2/3;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    gap: 2rem;
    align-items: start;
    width: 100%;
  }

  .caption {
    grid-area: right;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .caption h1,
  .caption h2,
  .caption p {
    background: #fff;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    border: 3px solid #e6e6e6;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.02) inset;
    margin: 0;
  }

  .billede1 {
    grid-area: left;
    margin: 0;
    max-width: 100%;
  }

  .billede2 {
    display: grid;
    width: 100%;
    height: auto;
    position: relative;
  }

  .billede2 img {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .billede2 .caption2 {
    grid-area: 1/1;
    place-self: start center;
    max-width: 85%;
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    text-align: center;
    border-radius: 6px;
    font-size: 1em;
  }

  .billede1 img,
  .grid_1-1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1rem;
  }

  .marsktårn {
    grid-column: 1;
    grid-row: 1 / span 2;
    aspect-ratio: 3 / 5;
  }

  .gåtur {
    grid-column: 2 / span 2;
    grid-row: 1;
    aspect-ratio: 5 / 2;
  }

  .solnedgang_rømø {
    grid-column: 2;
    grid-row: 2;
  }

  .roadtrip {
    grid-column: 3;
    grid-row: 2;
  }
}
